* {
margin: 0;
box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-color:beige;
}

.attribution { 
    font-size: 11px; text-align: center; }
    
.attribution a { 
    color: hsl(228, 45%, 44%); }
    
   